<div [class.lower-opacity]="isPlayerDetailPopupOpen">
    <div class="search-container">
        <label for="searchInput">Search:</label>
        <div class="search-input-wrapper">
            <div class="fa fa-search"></div>
            <input type="text" id="searchInput" placeholder=" Search by name" [(ngModel)]="searchQuery"
                (input)="performSearch()" />
        </div>
        <button class="clear-button" (click)="clearSearch()">Clear</button>
    </div>

    <div class="dropdown-container">
        <label for="statsDropdown">Filter stats:</label>
        <div class="dropdown" #statsDropdown>
            <button class="dropdown-button" (click)="toggleStatsDropdown()">
                <span>({{ getSelected('stats') }})</span>
            </button>
            <div class="dropdown-content" *ngIf="isStatsDropdownOpen">
                <span (click)="selectAllItems('stats')" class="select-all-label">(de)select all</span>
                <div *ngFor="let category of getUniqueStatCategories()">
                    <div class="category-label" (click)="toggleCategoryStats(category)">{{ category }}</div>
                    <div *ngFor="let stat of getStatsInCategory(category)">
                        <label class="checkbox-label">
                            <input type="checkbox" class="checkbox-input" (change)="toggleStat(stat)"
                                [checked]="selectedStats.has(stat)" />
                            <span class="custom-checkbox"></span>
                            {{ stat | statNameDisplay }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown-container">
        <label for="teamDropdown">Filter teams:</label>
        <div class="dropdown" #teamDropdown>
            <button class="dropdown-button" (click)="toggleTeamDropdown()">
                <span>({{ getSelected('teams') }})</span>
            </button>
            <div class="dropdown-content" *ngIf="isTeamDropdownOpen">
                <span (click)="selectAllItems('teams')" class="select-all-label">(de)select all</span>
                <div *ngFor="let team of Teams">
                    <label class="checkbox-label">
                        <input type="checkbox" class="checkbox-input" (change)="toggleTeamFilter(team)"
                            [checked]="selectedTeams.has(team)" />
                        <span class="custom-checkbox"></span>
                        {{ team | teamDisplay }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown-container">
        <label for="positionDropdown">Filter positions:</label>
        <div class="dropdown" #positionDropdown>
            <button class="dropdown-button" (click)="togglePositionDropdown()">
                <span>({{ getSelected('positions') }})</span>
            </button>
            <div class="dropdown-content" *ngIf="isPositionDropdownOpen">
                <span (click)="selectAllItems('positions')" class="select-all-label">(de)select all</span>
                <div *ngFor="let position of Positions">
                    <label class="checkbox-label">
                        <input type="checkbox" class="checkbox-input" (change)="togglePositionFilter(position)"
                            [checked]="selectedPositions.has(position)" />
                        <span class="custom-checkbox"></span>
                        {{ position | positionDisplay }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="player-list-container">
        <table class="player-table">
            <thead>
                <tr>
                    <th (click)="toggleColumnSort('name')">Name
                        <span class="sort-by" *ngIf="sortColumnBy === 'name'" [class.asc]="sortDirection === 'asc'"
                            [class.desc]="sortDirection === 'desc'"></span>
                    </th>
                    <th (click)="toggleColumnSort('team')">Team
                        <span class="sort-by" *ngIf="sortColumnBy === 'team'" [class.asc]="sortDirection === 'asc'"
                            [class.desc]="sortDirection === 'desc'"></span>
                    </th>
                    <th (click)="toggleColumnSort('position')">Position
                        <span class="sort-by" *ngIf="sortColumnBy === 'position'" [class.asc]="sortDirection === 'asc'"
                            [class.desc]="sortDirection === 'desc'"></span>
                    </th>
                    <th (click)="toggleColumnSort('points')">Points
                        <span class="sort-by" *ngIf="sortColumnBy === 'points'" [class.asc]="sortDirection === 'asc'"
                            [class.desc]="sortDirection === 'desc'"></span>
                    </th>
                    <ng-container *ngFor=" let stat of players[0]?.stats | keyvalue">
                        <th class="statColumn" *ngIf="selectedStats.has(castToStatName(stat.key))"
                            (click)="toggleStatSort(castToStatName(stat.key))">
                            <span title="{{ stat.key | statNameDisplay: 'full' }}">{{ stat.key |
                                statNameDisplay:'abbrev' }}</span>
                            <span class="sort-by" *ngIf="sortStatBy === stat.key" [class.asc]="sortDirection === 'asc'"
                                [class.desc]="sortDirection === 'desc'"></span>
                        </th>
                    </ng-container>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let player of players.slice((currentPage - 1) * playersPerPage, currentPage * playersPerPage)"
                (click)="showPlayerDetails(player)"> -->
                <tr *ngFor="let player of filteredPlayers.slice((currentPage - 1) * playersPerPage, currentPage * playersPerPage)"
                    (click)="showPlayerDetails(player)">
                    <td>{{ player.name }}</td>
                    <td>{{ player.team | teamDisplay}}</td>
                    <td>{{ player.position | positionDisplay }}</td>
                    <td>{{ player.totalPoints }}</td>

                    <!-- <td *ngFor="let stat of player.stats |  keyvalue "> {{ stat.value }} -->

                    <ng-container *ngFor="let stat of player.stats | keyvalue">
                        <td *ngIf="selectedStats.has(castToStatName(stat.key))">{{ stat.value }}</td>
                    </ng-container>

                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <button class="previousBtn" (click)="currentPage = currentPage - 1"
                [disabled]="currentPage === 1">&lt;</button>
            <button (click)="currentPage = 1" [class.active]="currentPage === 1">1</button>
            <ng-container *ngIf="currentPage > 4">
                <span class="disabled">...</span>
            </ng-container>
            <ng-container *ngFor="let num of getVisiblePageNumbers()">
                <button (click)="currentPage = num" [class.active]="num === currentPage">{{ num }}</button>
            </ng-container>
            <ng-container *ngIf="currentPage < getTotalPages() - 3">
                <span class="disabled">...</span>
            </ng-container>
            <button *ngIf="getTotalPages() !==1" (click)="currentPage = getTotalPages()"
                [class.active]="currentPage === getTotalPages()">{{
                getTotalPages()}}</button>
            <button class="nextBtn" (click)="currentPage = currentPage + 1"
                [disabled]="currentPage === getTotalPages()">&gt;</button>
        </div>

    </div>

</div>


<div *ngIf="selectedPlayer">
    <app-player-detail-popup [selectedPlayer]="selectedPlayer"
        (close)="closePlayerDetailPopup()"></app-player-detail-popup>
</div>